<html>
    <head>
        <title>Predict Rating</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type='text/css' href="static/main.css">
    </head>
    <body>
        <div class="wrapper fadeInDown">
            <div id="formContent">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom md-4">Your Review Please</legend>
                    <div class="form-group">
                        {{ form.review.label(class="form-control-label") }}
                        {{ form.review(class="form-control form-control-md") }}
                    </div>
                    
               
            </fieldset>
            <div class="form-group">
                {{ form.predict(class="btn btn-outline-info") }}
               
            </div>
        </form>
        </div>
        
        <div>
            <h3>Rating is</h3> 
           
        </div>
        </div>

    </body>
</html>